*{
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
}

body{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15vw;
}

.hidden{
    opacity:0;
}

.header{
    width: 90%;
    height: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 8%;
}

.links-container{
    display: flex;
    width: 40%;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.link{
    font-size: 1.1vw;
    color: gray;
    cursor: pointer;
}

.body{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 40vw;

}

.about-me{
    color: white;
    width: 40%;
    line-height: 1.5;
}

.about-me b u{
    font-size: 1.3vw;
}

.name{
    font-size: 5vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    width: 42vw;
    background-color: #FF4545;
    color: black;
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
}

.short{
    color: white;
    font-size: 2vw;
    font-style: bold;
    font-style: italic;
    text-decoration: underline;
}

.personal-image{
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.image{
    width: 70%;
    border-width: .8vw;
    border-style: solid;
    border-image: linear-gradient(to top, #ff454519,#FF4545, #ff454519);
    border-image-slice: 1;
}

.second-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border-top-style: solid;
    border-color: rgba(76, 75, 75, 0.42);
    height: 60%;
}

.reveal-item{
    transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.2s;
    opacity: 0;
    transform: translateY(30px);
}

.reveal-item.revealed {
    opacity: 1;
    transform: translateY(0);
}

.second-content{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects-title{
    position: relative;
    max-width: 500px;
    width: 30%;
    justify-content: center;
    text-align: center;
    color: gray;
}

.projects-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 1%;
}

.project1, .project2{
    display: flex;
    flex-direction: column;
    width: 15em;
    padding: 1em;
    height: 30em;
}

.project1:hover, .project2:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 5px 10px rgba(249, 105, 105, 0.489); 
  }
  

.project1-img,.project2-img {
    margin-top: 3%;
    width:100%;
}

.p1_txt, .p2_txt{
    margin-top: 1.5vw;
    color: white;
}

.third-page, .fourth-page{
    display: flex;
    align-items:  center;
    justify-content:space-between;
    width: 75%;
    height: 90%;
}

.third-page, .fifth-page{
    border-top-style: solid;
    border-color: rgba(76, 75, 75, 0.42);
}

.fourth-page{
    height: 45%;
}

.collage-container{
    width: 45%;
}

.collage-pic{
    width: 100%;
}

.background-info-container{
    width: 30em;
    text-align: center;
}

.background-title{
    color:#FF4545;
    font-size: 4em;
}

p1{
    color: gray;
}

.first-para{
    color: white;
    text-align: left;
    line-height: 1.5;
}

.first-para b, .about-me b{
    color: #FF4545
}

.second-para{
    color: white;
    text-align: left;   
}

ul{
    color: white;
    line-height: 1.5;
}

ul li b{
    font-size: 2vw;
}

.contact-title{
    color: #FF4545;
    font-size: 2vw;
}

.fifth-page{
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content:center;
    width: 75%;
    text-align: center;
}

.contact-container{
    height: 60%;
    display: flex;
    align-items:  center;
    justify-content:space-between;
    width: 100%;
}

.resume-container{
    display: flex;
    flex-direction: column;
    color:red;
    justify-content: space-around;
}

.resume-pic{
    width: 100%;
}

.download-link{
    color: #FF4545;
    font-style: none;
}

.contact-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.contact-links-container ul{
    margin-top: 6%;
}

.contact-links-container ul div{
    margin-bottom: 2.25%;
}

.icons{
    width: 40%;
}


